include mixins/meta

doctype html
html
  head
   
    title #{ title != "Who Loses!" ? title + " | Who Loses" : title}
    +meta(title)
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Kadwa:700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="./scripts/socket-init.js" defer)
    script(src="./scripts/helpers.js")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133242434-2"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133242434-2');


  body
    
    .row(style="margin-right: auto;")
      block content
    .footer
      a(href="mailto:sam.fitz.burke@gmail.com?subject=Who%20Loses%20Website" data-hover="Created by Sam Burke") Created by Sam Burke 
      br
      a(href="https://github.com/Burkie11/Who-Loses") Source Code avaliable on Github
