mixin meta(title)
    meta(name="og:title" content=`${title != "Who Loses!" ? title + " | Who Loses" : title}`)
    <meta name="og:type" content="website"/>
    <meta name="og:url" content="https://who-loses.com/"/>
    <meta name="og:image" content="./images/loser.jpeg"/>
    <meta name="og:site_name" content="Who Loses"/>
    <meta name="og:description" content="Create or join a room and find out who the real loser is."/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="loser, rooms, websockets, Sam Burke, friends, fun, random"/>
    <meta name="author" content="Sam Burke, sam.fitz.burke@gmail.com">
    <meta name="url" content="https://who-loses.com/">
    <meta name="robots" content="index, follow" />
    <meta name="language" content="EN">
    <meta name="description" content="Create or join a room and find out who the real loser is."/>
    <link rel="canonical" href="https://who-loses.com/" />

